div(id=test.test_name + "_modal_test", class="modal", style="text-align:center;")
	span(class=test.test_name + "_close_test close" ) &times;
	img(class="modal-content", id=test.test_name + "_img_1_test")
	button(onclick="setAsRef('" + test.test_name + "','" + test.ref_shot + "','" + test.test_shot + "')", style="font-size:larger; margin-top:10px;") Set as Reference Image