<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="../includes/slider/cato.css">
<script src="../includes/slider/cato.js"></script>
<script src="../includes/slider/options.js"></script>
<link rel="stylesheet" href="../includes/popover/popover.css"></script>
<script src="../includes/popover/popover.js"></script>
<script src="../includes/functions.js"></script>